<div class="container mt-5">
  <mat-card>
    <mat-card-title>Acerca de la Aplicación</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Propósito</mat-expansion-panel-header>
        <p>Aplicación de ejemplo para aprender Angular.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Tecnologías</mat-expansion-panel-header>
        <p>Angular, Bootstrap, Angular Material.</p>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-button routerLink="/">Inicio</button>
  </mat-card>
</div>
