<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Precio: ${{product.price}}</p>
      <p>Descripción: {{product.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="addToCart()">
        <mat-icon>add_shopping_cart</mat-icon> Agregar al Carrito
      </button>
    </mat-card-actions>
  </mat-card>
</div>
